.header-img {
    width: 150px;
    height: 150px;
}

.strikethrough {
    text-decoration: line-through
}

h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFF99;
    width: 50%;
    margin: 0 auto;
    box-shadow: -10px 10px 5px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.flex-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: tan;
    padding: 20px;
    font-family: 'Permanent Marker', cursive;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.todo-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding: 30px;
    font-family: 'Indie Flower', cursive;
    font-size: 20pt;
}

footer {
    margin: 20px;
    text-align: center;
}

@media(max-width: 768px){
    .remove-small{
        display: none;
    }

    .flex-container {
        width: 100%;
    }
}