.header-img {
    width: 150px;
    height: 150px;
}

.strikethrough{
    text-decoration:line-through
}

h1 {
    text-align: center;
}

@media(max-width: 768px){
    .remove-small{
        display: none;
    }
}